@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;

  background-image: linear-gradient(to right, #6D75DE, #4EA1DE);
  margin: 0;
  padding: 0;
}
